.product-container {
  background-color: plum;
  display: inline-grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.product_name {
  background-color: rgba(248, 82, 176, 0.623);
  align-self: center;
  border-style: solid;
  border-radius: 15px;
  border-color: grey;
  padding: 15px 25px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-column: 1 / 3;
}

.product_price {
  grid-column: 2 / 3;
}

.button {
  background-color: aquamarine;
  grid-column: 3 / 3;
}

.title {
  background-color: blueviolet;
}